/*Default */
@font-face {
    font-family: 'poppins';
    src: local(''),url('./assets/fonts/poppins.regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

html {  
    margin: 0;
    font-family: Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
    overflow-x: hidden;
}

body {
    font-weight: 400;
    overflow-x: hidden;
    position: relative;
    background-color: #07192F !important;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: normal;
}
