.banner {
    background-color: #23153c;
    height: 100vh;
}

.banner .avatar {
    min-width: 200px;
}

.banner .container {
    display:flex;
    position: relative;
    justify-content: space-between;
    top: 30vh;
    margin: 0 18%;
}

.hero p {
    max-width: 500px;
    margin: 20px 0;
}

.hero .button {
    color:'#C7A338';
}