:root{
    --primary: #003DFF;
    --secondary: #FFC200;
}

.banner {
    background-color: #23153c;
    height: 100vh;
}

.banner .avatar {
    min-width: 200px;
}

.banner .container {
    display:flex;
    position: relative;
    justify-content: space-between;
    top: 30vh;
    margin: 0 18%;
}

.container .header-img img {
     animation: updown 5s linear infinite;
  }

.hero p {
    max-width: 500px;
    font-size: 1.1em;
    margin: 20px 0;
}

.hero .button {
    color:'#C7A338';
}

@keyframes updown {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@media (max-width: 712px) {
    .container .header-img img{
       display: none;
    } 

    .hero h1 {
        height: 80px;
    }

    .banner {
        align-items: center;
    }
  }